/* Default styles for larger screens */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Additional responsive styles for even smaller screens, if needed */
@media (max-width: 480px) {
  .container {
    padding: 5px;
  }
}


header {
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

/* Link Styles */
a {
  color: #ffffff; /* Link color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

a:hover {
  color: #0056b3; /* Link color on hover */
}
/* css for darkmode  */

.App.dark-mode {
  background-color: #333;
  color: #fff;
}

.App.dark-mode section {
  background-color: #444;
  color: #fff;
}

/* ... (existing styles) ... */

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: #555;
}

/* ... (existing styles) ... */

.profile-image {
  text-align: center;
  margin: 20px 0;
}

.profile-image img {
  width: 150px; /* Adjust the width as needed */
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CSS Animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  /* 50% { transform: translateX(-5px); } */
  /* 100% { transform: translateX(5px); } */
}

/* Apply the animation to h2 elements */
/* h2.shake {
  animation: shake 0.5s infinite;
} */

/* about.js styling*/

.about {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
  animation: shake 3s infinite;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about li {
  margin-bottom: 8px;
}

.about a {
  margin-bottom: 15px;
}

/* projects.js styling*/

.projects {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects h2 {
  font-size: 24px;
  margin-bottom: 10px;
  animation: shake 3s infinite;
}

.projects ul {
  list-style: none;
  padding: 0;
}

.projects li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}


/* skills.js styling*/

.skills {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills h2 {
  font-size: 24px;
  margin-bottom: 10px;
  animation: shake 3s infinite;
}
.skills h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

/* subkills.js styling*/

.subskills {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subskills h2 {
  font-size: 24px;
  margin-bottom: 10px;
  animation: shake 3s infinite;
}
.subskills h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.subskills ul {
  list-style: none;
  padding: 0;
}

.subskills li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

/* tools.js styling*/

.tools {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tools h2 {
  font-size: 24px;
  margin-bottom: 10px;
  animation: shake 3s infinite;
}

.tools ul {
  list-style: none;
  padding: 0;
}

.tools li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

/* contact.js styling*/

.contact-container {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
  animation: shake 3s infinite;
}

.contact-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3;
}

/* three.js styling */

/* Navigation Container */
nav {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  user-select: none; /* Disable text selection */
  cursor: pointer; /* Show pointer cursor on hover for better user feedback */
}

/* Navigation List */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/* Navigation List Items */
nav ul li {
  margin: 0;
}

/* Navigation Links */
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s ease;
}

/* Hover Effect for Navigation Links */
nav ul li a:hover {
  background-color: #2980b9;
  border-radius: 5px;
}

/* Active Link Styling */
nav ul li a.active {
  background-color: #2980b9;
  border-radius: 5px;
}

/* Add these styles to your CSS file */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease;
  user-select: none; /* Disable text selection */
  cursor: pointer; /* Show pointer cursor on hover for better user feedback */
}

.scroll-to-top-button.visible {
  display: block;
}

/* gif css  */

img {
  max-width: 100%; /* Make sure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio of the image */
  margin-top: 20px; /* Add some space above the image */
}

/* CSS for GIF */
.gif-container {
  width: 300px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  position: relative;
  overflow: hidden;
}

.gif-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust the object-fit property as needed */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

/* Add additional styling as needed */

