
/* App.css */
.App {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .App {
  background-color: #222;
  color: #fff;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle:hover {
  background-color: #444;
}

/* Default styles for larger screens */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .container { 
    padding: 10px;
  }
}

/* Additional responsive styles for even smaller screens, if needed */
@media (max-width: 480px) {
  .container {
    padding: 5px;
  }
}

header {
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

/* Link Styles */
a {
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}
a:hover {
  color: #0056b3; /* Link color on hover */
}

/* css for darkmode  */

.App.dark-mode a {
  color: rgb(253, 253, 255); /* Link color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.App.dark-mode a:hover {
  color: #0056b3; /* Link color on hover */
}


.App.dark-mode{
  background-color: #333;
  color: #fff;
}

.App.dark-mode section {
  background-color: #444;
  color: #fff;
}

.App.dark-mode {
  background-color: #333;
  color: #fff;
}

.App.dark-mode section {
  background-color: #444;
  color: #fff;
}

.theme-toggle {
  position: fixed;
  top: 30px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle:hover {
  background-color: #555;
}

/* Rotate the button 180 degrees for dark mode */
.dark-mode .theme-toggle {
  transform: rotate(180deg);
}

.profile-image {
  text-align: center;
  margin: 20px 0;
}

.profile-image img {
  width: 150px; /* Adjust the width as needed */
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: shake1 5s infinite;
}

/* CSS Animation Text Shaking */

/* For h2 animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  /* 50% { transform: translateX(-5px); } */
  /* 100% { transform: translateX(5px); } */
}

/* Profile image animation */
@keyframes shake1 {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
}


/* Apply the animation to h2 elements */
/* h2.shake {
  animation: shake 0.5s infinite;
} */

/* about.js styling*/

.about {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about li p {
  margin: 0;
}

.about li:hover {
  background-color: #f2f2f264; /* Add a background color on hover */
}

.about a {
  margin-bottom: 15px;
}

/* skills.js styling*/

.skills {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.skills h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.skills h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

/* subkills.js styling*/

.subskills {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subskills h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.subskills h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.subskills ul {
  list-style: none;
  padding: 0;
}

.subskills li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

/* projects.js styling*/

.projects {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.projects h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.projects ul {
  list-style: none;
  padding: 0;
}

.projects li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

/* tools.js styling*/

.tools {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tools h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tools ul {
  list-style: none;
  padding: 0;
}

.tools li {
  font-size: 15px;
  margin-bottom: 9px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

/* contact.js styling*/

.contact-container {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
  animation: shake 3s infinite;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact-button:hover {
  background-color: #0056b3;
}

.contact li {
  display: none; /* Hide the text initially */
}

.contact:hover li {
  display: block; /* Display the text on hover */
}

.contact p {
  display: none; /* Hide the text initially */
}

.contact:hover p {
  display: block; /* Display the text on hover */
}


/* three.js styling */

/* Navigation Container */
nav {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  user-select: none; /* Disable text selection */
  cursor: pointer; /* Show pointer cursor on hover for better user feedback */
}

/* Navigation List */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/* Navigation List Items */
nav ul li {
  margin: 0;
}

/* Navigation Links */
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s ease;
}

.navbar.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index to make sure it's above other elements */
}

/* Hover Effect for Navigation Links */
nav ul li a:hover {
  background-color: #2980b9;
  border-radius: 5px;
}

/* Active Link Styling */
nav ul li a.active {
  background-color: #2980b9;
  border-radius: 5px;
}

/* Add these styles to your CSS file */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease;
  user-select: none; /* Disable text selection */
  cursor: pointer; /* Show pointer cursor on hover for better user feedback */
}

.scroll-to-top-button.visible {
  display: block;
}

/* gif css  */

img {
  max-width: 100%; /* Make sure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio of the image */
  margin-top: 20px; /* Add some space above the image */
}
/*
.animated-icon {
  animation: bounce 1s infinite; /* Example animation: bounce 
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}


*/