/* Navigation.css */

/* Container for desktop navigation */
.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add your preferred padding value */
}

/* Styles for desktop navigation */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.menu button:hover {
  color: #0056b3; /* Link color on hover */
  background-color: rgba(0, 86, 179, 0.1); /* Light background color on hover */
}

/* Hamburger menu styles for mobile */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #333;
  margin: 3px 0;
}

/* Responsive styles for mobile */
@media (max-width: 500px) {
  .menu {
    display: none;
    background-color: #030303;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #030303;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .menu.active button {
    margin: 10px 20px;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar.mobile {
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
}

/* Dark mode styles */
.dark-mode .menu button {
  color: #f9f9f9; /* Light text color in dark mode */
  background-color: transparent;
}

.dark-mode .bar {
  background-color: #f9f9f9; /* Light color for mobile menu icon in dark mode */
}
